
.s-slider-v-centered .s-slider-block__title-nav{
    top: -40px !important;
    justify-content: flex-end !important;
}
.carousel-slider .s-slider-block__title-nav{
    display: flex !important;
}
@media (max-width:767px ) {
    .g_cat{
        margin-bottom: var(--mobile-margin);
    }
}

.g_cat .products-item .image-parent img{
    transition: ease all 0.5s;
}
.g_cat .products-item:hover .image-parent:hover img{
    transform: scale(1.3) rotate(10deg);
}
.g_cat .swiper {
    width: 100%;
    height: 100%;
  }

  .g_cat  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 760px) {
    .g_cat .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .g_cat  .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }
  }